.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: fit-content;
  height: fit-content;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2rem 2rem 0 1rem;
}
