.description {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description:hover{
  overflow: visible; 
  white-space: normal; 
  width: auto;
  text-overflow: normal;
}